numpy==1.26.4
pandas==2.2.2
scipy==1.13.1
sympy==1.12.1
scikit-learn==1.5.1
matplotlib==3.9.1
seaborn==0.13.2

pysr==0.19.4
gplearn==0.4.2
deap==1.4.2
sympytorch==0.1.4

torch==2.3.1
torchvision==0.18.1
torchaudio==2.3.1
pytorch-lightning==2.3.0
tensorflow==2.15.1
keras==2.15.0

tqdm==4.66.4
joblib==1.4.2
regex==2024.4.28
hydra-core==1.0.0
omegaconf==2.1.2
wandb==0.17.1